.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between each project */
    justify-content: space-between;
    width: 100%; /* Full width container */
    margin: 0 auto;
  }
  
  .project-item {
    position: relative;
    width: 30%; /* Each project takes up ~25% of the width with spacing */
    max-width: 30vw;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  
  
  .project-item:hover {
    transform: scale(1.02);
  }
  
  .project-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .project-image-container img {
    width: 100%; /* Ensure the image fits the container */
    height: auto; /* Keep original aspect ratio */
    filter: brightness(50%); /* Darken image for text readability */
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .overlay-text h4 {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    white-space: nowrap; /* Prevents title from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." if the title is too long */
  }

  
  
//   .project-details {
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.4s ease-out;
//     padding: 10px;
//     background-color: rgba(255, 255, 255, 0.9);
//     text-align: left;
//   }


  .project-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    padding: 0 10px; /* Padding to be applied only when expanded */
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    border-top: 1px solid #ddd;
  }
  
  
  .project-details p {
    font-size: 0.9em;
    color: #333;
    line-height: 1.4;
    margin: 0;
  }

@media (max-width: 900px) {
  .project-item {
    width: calc(50% - 10px);
    max-width: none;
  }
}

@media (max-width: 640px) {
  .project-item {
    width: 100%;
    max-width: none;
  }
}
